body {
  background-color: rgb(26, 25, 25);
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline;
}

h1 {
  color: rgb(57, 105, 105);
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 25px;
  color: whitesmoke;
}

hr {
  height: 5px;
  background-color: rgb(57, 105, 105);
  border: none;
}

img {
  width: 450px;
  height: auto;
  border-radius: 15px;
  border-style: dashed;
  border-width: 5px;
  border-color: rgb(57, 105, 105);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hipster {
  color: darkorchid;
  font-family: cursive;
}

.favorite {
  text-align: center;
}

p {
  color: whitesmoke;
}

h3 {
  color: darkred;
  font-family: sans-serif;
}

ul {
  color: darkgreen;
}

.puppy {
  width: 500px;
  height: auto;
  border-radius: 500px;
  border: none;
}
